In [2]:
import pandas as pd
import tabula
import textract
from os import listdir
from os.path import isfile, join
from tqdm import tqdm

files = [f for f in listdir('pdf_aprile') if isfile(join('pdf_aprile', f))]
dfs = []

In [3]:
for i in tqdm(range(len(files))):
    file = files[i]
    if file != ".DS_Store":
        text = textract.process("pdf_aprile/" + file)
        if str(text[0:20]) == "b'Report Storico Previ'":
            df = tabula.read_pdf("pdf_aprile/" + file, pages=1)
            df = df[0]
            df['DATA'] = str(text).split("Giorno di previsione : ")[1].split(" ITALIA")[0]
            dfs.append(df)
df = pd.concat(dfs)

100%|██████████| 13/13 [00:11<00:00,  1.18it/s]

In [4]:
df

        ORA CONSUNTIVO PREVISIONE        DATA
0     01:00     21,554     22,054  26/04/2020
1     02:00     19,857     20,224  26/04/2020
2     03:00     19,100     19,428  26/04/2020
3     04:00     18,662     19,057  26/04/2020
4     05:00     18,829     19,056  26/04/2020
..      ...        ...        ...         ...
20    21:00     35,636     35,712  22/04/2020
21    22:00     33,868     34,008  22/04/2020
22    23:00     30,384     30,721  22/04/2020
23    24:00     27,468     27,865  22/04/2020
24  Totale:    732,405    745,560  22/04/2020

[300 rows x 4 columns]

In [5]:
df.to_csv("export_aprile.csv")